<div class="container text-center d-flex flex-column justify-content-center align-items-center ">
<div class="pt-5"><h1 class="text-uppercase">conatct section</h1>
<app-line app-line [backgroundColor]="'#2C3E50'"></app-line>
</div>
<div>
    <div class="p-4">
        <div class="group ">
            <input required="" type="text" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Username</label>
          </div>
    </div>
    <div class="p-4">
        <div class="group ">
            <input required="" type="text" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>UserAge</label>
          </div>
    </div>
    <div class="p-4">
        <div class="group ">
            <input required="" type="text" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>UserEmail</label>
          </div>
    </div>
    <div class="p-4">
        <div class="group ">
            <input required="" type="text" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>UserPassword</label>
          </div>
    </div>

</div>
<div class="w-50 d-flex justify-content-start p-3">
    <input class="btn cili " type="button" value="Send Message">

</div>
</div>
